<!-- Projeto Desenvolvido na Data Science Academy - www.datascienceacademy.com.br -->
# <font color='blue'>Data Science Academy</font>
## <font color='blue'>Data Science Para Análise Multivariada de Dados</font>
## <font color='blue'>Projeto 2 - Parte 1 - Pré-Processamento</font>
### <font color='blue'>Seleção de Modelos de Machine Learning em Análise Multivariada com Dados Anonimizados</font>

### Instalando e Carregando Pacotes

In [1]:
# Para atualizar um pacote, execute o comando abaixo no terminal ou prompt de comando:
# pip install -U nome_pacote

# Para instalar a versão exata de um pacote, execute o comando abaixo no terminal ou prompt de comando:
# !pip install nome_pacote==versão_desejada

# Depois de instalar ou atualizar o pacote, reinicie o jupyter notebook.

# Instala o pacote watermark. 
# Esse pacote é usado para gravar as versões de outros pacotes usados neste jupyter notebook.
!pip install -q -U watermark

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
# Imports
import pandas as pd
import numpy as np
import pickle

In [3]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "Data Science Academy"

Author: Data Science Academy

## Carregando os Dados

In [4]:
# Carregando os dados
df_dsa = pd.read_csv("dados/dataset.csv")

In [5]:
# Shape
df_dsa.shape

(11500, 179)

In [6]:
# Visualizando alguns registros
df_dsa.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
0,135,190,229,223,192,125,55,-9,-33,-38,...,-17,-15,-31,-77,-103,-127,-116,-83,-51,False
1,386,382,356,331,320,315,307,272,244,232,...,164,150,146,152,157,156,154,143,129,True
2,-32,-39,-47,-37,-32,-36,-57,-73,-85,-94,...,57,64,48,19,-12,-30,-35,-35,-36,False
3,-105,-101,-96,-92,-89,-95,-102,-100,-87,-79,...,-82,-81,-80,-77,-85,-77,-72,-69,-65,False
4,-9,-65,-98,-102,-78,-48,-16,0,-21,-59,...,4,2,-12,-32,-41,-65,-83,-89,-73,False

## Análise Exploratória e Limpeza de Dados

In [7]:
# Categorias da variável alvo
df_dsa.LABEL_TARGET.value_counts()

LABEL_TARGET
False    9200
True     2300
Name: count, dtype: int64

In [8]:
# Converte de string para valor numérico
df_dsa["LABEL_TARGET"] = df_dsa["LABEL_TARGET"].astype(int)

In [9]:
# Visualizando alguns registros
df_dsa.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
0,135,190,229,223,192,125,55,-9,-33,-38,...,-17,-15,-31,-77,-103,-127,-116,-83,-51,0
1,386,382,356,331,320,315,307,272,244,232,...,164,150,146,152,157,156,154,143,129,1
2,-32,-39,-47,-37,-32,-36,-57,-73,-85,-94,...,57,64,48,19,-12,-30,-35,-35,-36,0
3,-105,-101,-96,-92,-89,-95,-102,-100,-87,-79,...,-82,-81,-80,-77,-85,-77,-72,-69,-65,0
4,-9,-65,-98,-102,-78,-48,-16,0,-21,-59,...,4,2,-12,-32,-41,-65,-83,-89,-73,0

In [10]:
print("Número de colunas:", len(df_dsa.columns))

Número de colunas: 179

In [11]:
# Resumo estatístico
df_dsa.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
count,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.00000,11500.00000,11500.000000,...,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000
mean,-11.581391,-10.911565,-10.187130,-9.143043,-8.009739,-7.003478,-6.502087,-6.68713,-6.55800,-6.168435,...,-10.145739,-11.630348,-12.943478,-13.668870,-13.363304,-13.045043,-12.705130,-12.426000,-12.195652,0.200000
std,165.626284,166.059609,163.524317,161.269041,160.998007,161.328725,161.467837,162.11912,162.03336,160.436352,...,164.652883,166.149790,168.554058,168.556486,167.257290,164.241019,162.895832,162.886311,164.852015,0.400017
min,-1839.000000,-1838.000000,-1835.000000,-1845.000000,-1791.000000,-1757.000000,-1832.000000,-1778.00000,-1840.00000,-1867.000000,...,-1867.000000,-1865.000000,-1642.000000,-1723.000000,-1866.000000,-1863.000000,-1781.000000,-1727.000000,-1829.000000,0.000000
25%,-54.000000,-55.000000,-54.000000,-54.000000,-54.000000,-54.000000,-54.000000,-55.00000,-55.00000,-54.000000,...,-55.000000,-56.000000,-56.000000,-56.000000,-55.000000,-56.000000,-55.000000,-55.000000,-55.000000,0.000000
50%,-8.000000,-8.000000,-7.000000,-8.000000,-8.000000,-8.000000,-8.000000,-8.00000,-7.00000,-7.000000,...,-9.000000,-10.000000,-10.000000,-10.000000,-10.000000,-9.000000,-9.000000,-9.000000,-9.000000,0.000000
75%,34.000000,35.000000,36.000000,36.000000,35.000000,36.000000,35.000000,36.00000,36.00000,35.250000,...,34.000000,34.000000,33.000000,33.000000,34.000000,34.000000,34.000000,34.000000,34.000000,0.000000
max,1726.000000,1713.000000,1697.000000,1612.000000,1518.000000,1816.000000,2047.000000,2047.00000,2047.00000,2047.000000,...,1777.000000,1472.000000,1319.000000,1436.000000,1733.000000,1958.000000,2047.000000,2047.000000,1915.000000,1.000000

In [12]:
# Verificando se há valores ausentes
df_dsa.isnull().values.any()

False

In [13]:
# Extrai a lista de colunas
lista_de_colunas = df_dsa.columns.tolist()

In [14]:
# Colunas das variáveis de entrada (input)
colunas_entrada = lista_de_colunas[0:178]

In [15]:
print(colunas_entrada)

['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20', 'X21', 'X22', 'X23', 'X24', 'X25', 'X26', 'X27', 'X28', 'X29', 'X30', 'X31', 'X32', 'X33', 'X34', 'X35', 'X36', 'X37', 'X38', 'X39', 'X40', 'X41', 'X42', 'X43', 'X44', 'X45', 'X46', 'X47', 'X48', 'X49', 'X50', 'X51', 'X52', 'X53', 'X54', 'X55', 'X56', 'X57', 'X58', 'X59', 'X60', 'X61', 'X62', 'X63', 'X64', 'X65', 'X66', 'X67', 'X68', 'X69', 'X70', 'X71', 'X72', 'X73', 'X74', 'X75', 'X76', 'X77', 'X78', 'X79', 'X80', 'X81', 'X82', 'X83', 'X84', 'X85', 'X86', 'X87', 'X88', 'X89', 'X90', 'X91', 'X92', 'X93', 'X94', 'X95', 'X96', 'X97', 'X98', 'X99', 'X100', 'X101', 'X102', 'X103', 'X104', 'X105', 'X106', 'X107', 'X108', 'X109', 'X110', 'X111', 'X112', 'X113', 'X114', 'X115', 'X116', 'X117', 'X118', 'X119', 'X120', 'X121', 'X122', 'X123', 'X124', 'X125', 'X126', 'X127', 'X128', 'X129', 'X130', 'X131', 'X132', 'X133', 'X134', 'X135', 'X136', 'X137', 'X138', 'X139', 'X140', 'X141', 'X142', 'X143', 'X144', 'X145', 'X146', 'X147', 'X148', 'X149', 'X150', 'X151', 'X152', 'X153', 'X154', 'X155', 'X156', 'X157', 'X158', 'X159', 'X160', 'X161', 'X162', 'X163', 'X164', 'X165', 'X166', 'X167', 'X168', 'X169', 'X170', 'X171', 'X172', 'X173', 'X174', 'X175', 'X176', 'X177', 'X178']

In [16]:
# Checando se temos colunas duplicadas nos dados de entrada
dup_cols = set([x for x in colunas_entrada if colunas_entrada.count(x) > 1])
print(dup_cols)
assert len(dup_cols) == 0, "você duplicou colunas em cols_input"

set()

In [17]:
# Checando se temos colunas duplicadas no dataset completo
dup_cols = set([x for x in lista_de_colunas if lista_de_colunas.count(x) > 1])
print(dup_cols)
assert len(dup_cols) == 0,'você duplicou colunas em lista_de_colunas'

set()

In [18]:
# Categorias da variável alvo
df_dsa.LABEL_TARGET.value_counts()

LABEL_TARGET
0    9200
1    2300
Name: count, dtype: int64

A prevalência é a porcentagem das amostras que têm a característica que você está tentando prever. Em nosso caso, significa que as pessoas que renovaram o seguro são da classe positiva (ocorrência do evento) e quem não comprou é da classe negativa (não ocorreu o evento).

Os termos positivo e negativo não têm conotação de coisa boa ou ruim. É apenas a nomenclatura usada para indicar a ocorrência ou não do evento.

A taxa é calculada por (número de amostras positivas / número de amostras). Portanto, uma taxa de prevalência de 0,2 significa que 20% de nossa amostra renovou o seguro do carro.

In [19]:
# Esta função calcula a prevalência da classe positiva (label = 1)
def calcula_prevalencia(y_actual):
    return sum(y_actual) / len(y_actual)

In [20]:
print("Prevalência da classe positiva: %.3f"% calcula_prevalencia(df_dsa["LABEL_TARGET"].values))

Prevalência da classe positiva: 0.200

> O desbalanceamento de classe é um problema que terá que ser resolvido durante o pré-processamento dos dados.

## Divisão dos Dados Mantendo a Prevalência de Classe

In [21]:
# Gerando amostras aleatórias dos dados
df_data = df_dsa.sample(n = len(df_dsa))

In [22]:
df_data

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
567,-72,-68,-64,-72,-78,-76,-84,-68,-45,-27,...,16,-7,-28,-24,-31,-4,5,18,42,0
9899,-2,-11,-26,-30,-37,-40,-36,-17,4,27,...,-41,-38,-36,-36,-23,-7,0,4,3,0
1816,-90,-70,-63,-64,-77,-62,-43,-14,2,15,...,-30,-46,-57,-59,-61,-61,-52,-46,-41,0
1437,43,46,53,62,67,68,66,65,63,56,...,20,10,4,-9,-7,-7,2,8,8,0
1691,101,111,130,141,147,138,100,63,31,11,...,-62,-72,-76,-87,-101,-122,-121,-124,-121,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4297,-73,-66,-64,-56,-56,-58,-61,-70,-82,-86,...,-96,-94,-81,-69,-60,-38,-31,-21,-11,0
2629,-13,3,17,16,8,-1,-6,-2,10,18,...,70,67,73,70,66,57,52,44,35,0
2083,-202,-197,-170,-126,-81,-46,-29,-14,-10,-14,...,-128,-85,-27,24,61,83,90,73,22,0
7464,-30,-28,-23,-15,-5,8,7,-7,-21,-35,...,-9,2,23,34,36,24,6,-11,-31,0
5507,-92,-58,-27,3,23,37,40,49,65,89,...,-384,-363,-318,-269,-227,-199,-175,-151,-122,1

In [23]:
# Ajustando os índices do dataset
df_data = df_data.reset_index(drop = True)

In [24]:
df_data

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
0,-72,-68,-64,-72,-78,-76,-84,-68,-45,-27,...,16,-7,-28,-24,-31,-4,5,18,42,0
1,-2,-11,-26,-30,-37,-40,-36,-17,4,27,...,-41,-38,-36,-36,-23,-7,0,4,3,0
2,-90,-70,-63,-64,-77,-62,-43,-14,2,15,...,-30,-46,-57,-59,-61,-61,-52,-46,-41,0
3,43,46,53,62,67,68,66,65,63,56,...,20,10,4,-9,-7,-7,2,8,8,0
4,101,111,130,141,147,138,100,63,31,11,...,-62,-72,-76,-87,-101,-122,-121,-124,-121,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11495,-73,-66,-64,-56,-56,-58,-61,-70,-82,-86,...,-96,-94,-81,-69,-60,-38,-31,-21,-11,0
11496,-13,3,17,16,8,-1,-6,-2,10,18,...,70,67,73,70,66,57,52,44,35,0
11497,-202,-197,-170,-126,-81,-46,-29,-14,-10,-14,...,-128,-85,-27,24,61,83,90,73,22,0
11498,-30,-28,-23,-15,-5,8,7,-7,-21,-35,...,-9,2,23,34,36,24,6,-11,-31,0
11499,-92,-58,-27,3,23,37,40,49,65,89,...,-384,-363,-318,-269,-227,-199,-175,-151,-122,1

In [25]:
# Extrai uma amostra de 30% dos dados de forma aleatória
df_amostra_30 = df_data.sample(frac = 0.3)

In [26]:
df_amostra_30

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
3799,3,14,42,62,65,65,36,-5,-33,-32,...,81,62,32,27,28,16,23,33,33,0
10237,42,65,71,57,30,7,-6,-27,-25,-1,...,71,56,30,5,-21,-36,-20,7,21,0
6035,9,14,34,65,59,43,23,27,35,50,...,31,8,-20,-12,15,65,103,134,132,0
4108,92,83,74,62,50,58,69,68,83,69,...,-16,-8,-30,-21,-14,-22,-16,-15,8,0
8832,29,24,23,12,6,0,-1,-12,-11,-4,...,-1,1,2,7,11,7,14,16,17,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3545,-46,-22,-10,7,15,-3,-55,-117,-162,-165,...,352,252,168,110,70,25,-14,-46,-67,1
4000,-18,-6,9,28,36,32,18,-11,-48,-73,...,44,17,-19,-57,-97,-140,-177,-194,-196,0
5407,-20,-22,-15,-15,-9,-4,8,20,33,39,...,-148,-150,-147,-133,-109,-82,-52,-22,-2,0
6275,-51,-57,-66,-75,-77,-72,-62,-49,-42,-43,...,-50,-38,-31,-26,-25,-26,-30,-22,-17,0
9899,-111,-87,-73,-60,-33,-7,2,-10,-38,-76,...,-88,-18,41,83,104,130,150,156,134,0

In [27]:
print("Tamanho da divisão de validação / teste: %.1f" % (len(df_amostra_30) / len(df_data)))

Tamanho da divisão de validação / teste: 0.3

In [28]:
# Fazendo a divisão

# Dados de teste
df_teste = df_amostra_30.sample(frac = 0.5)

# Dados se validação
df_valid = df_amostra_30.drop(df_teste.index)

# Dados de treino
df_treino = df_data.drop(df_amostra_30.index)

In [29]:
df_teste

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
4813,-10,-66,-85,-72,-24,32,116,189,207,195,...,102,122,87,35,0,-20,-9,3,17,0
10779,-44,-58,-82,-92,-81,-41,13,68,126,160,...,31,37,41,41,37,32,28,32,43,1
4423,48,44,46,46,43,41,32,20,3,-1,...,-25,-35,-22,-2,17,24,40,68,75,0
9641,-63,-66,-69,-64,-60,-55,-54,-54,-54,-54,...,-11,-8,-8,-9,-9,-2,1,4,0,0
7128,-67,-68,-76,-60,-75,-82,-100,-121,-123,-124,...,-157,-173,-164,-132,-105,-91,-68,-57,-14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5224,-134,-122,-108,-83,-61,-57,-53,-61,-55,-60,...,-126,-121,-114,-104,-100,-78,-77,-98,-104,0
8112,-171,-519,-783,-874,-800,-643,-523,-453,-399,-351,...,-820,-655,-449,-347,-352,-355,-333,-298,-251,1
2863,153,153,151,131,145,171,166,126,54,-189,...,197,210,209,217,221,228,251,273,292,1
7053,-493,-312,-285,-430,-621,-864,-885,-720,-406,-135,...,132,-76,-168,-183,-142,-234,-220,-80,417,1
483,-24,-37,-40,-33,-39,-52,-76,-87,-87,-77,...,91,71,55,53,55,54,45,36,21,0

In [30]:
df_valid

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
3799,3,14,42,62,65,65,36,-5,-33,-32,...,81,62,32,27,28,16,23,33,33,0
10237,42,65,71,57,30,7,-6,-27,-25,-1,...,71,56,30,5,-21,-36,-20,7,21,0
263,105,52,-5,-32,-45,-51,-45,-38,-37,-32,...,191,266,343,380,386,396,370,351,137,1
2130,-75,-101,-125,-139,-131,-99,-61,-46,-34,-22,...,-62,-56,-44,-22,-9,-8,-30,-47,-65,0
859,-5,1,6,12,13,15,9,-10,-27,-27,...,7,18,37,50,47,44,57,69,77,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2762,8,7,2,5,0,-1,0,1,0,2,...,56,62,65,71,73,71,73,74,76,0
9739,-121,-146,-166,-179,-192,-217,-226,-229,-233,-212,...,-46,-45,-77,-108,-117,-91,-60,-21,-1,0
4000,-18,-6,9,28,36,32,18,-11,-48,-73,...,44,17,-19,-57,-97,-140,-177,-194,-196,0
6275,-51,-57,-66,-75,-77,-72,-62,-49,-42,-43,...,-50,-38,-31,-26,-25,-26,-30,-22,-17,0
9899,-111,-87,-73,-60,-33,-7,2,-10,-38,-76,...,-88,-18,41,83,104,130,150,156,134,0

In [31]:
df_treino

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
0,-72,-68,-64,-72,-78,-76,-84,-68,-45,-27,...,16,-7,-28,-24,-31,-4,5,18,42,0
1,-2,-11,-26,-30,-37,-40,-36,-17,4,27,...,-41,-38,-36,-36,-23,-7,0,4,3,0
3,43,46,53,62,67,68,66,65,63,56,...,20,10,4,-9,-7,-7,2,8,8,0
4,101,111,130,141,147,138,100,63,31,11,...,-62,-72,-76,-87,-101,-122,-121,-124,-121,0
5,-110,-93,-76,-54,-41,-24,-16,0,19,38,...,-168,-149,-127,-110,-110,-123,-141,-148,-149,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11493,-45,-44,-38,-36,-29,-20,-3,11,18,31,...,-14,-11,-5,-5,-4,-7,-6,-4,1,0
11495,-73,-66,-64,-56,-56,-58,-61,-70,-82,-86,...,-96,-94,-81,-69,-60,-38,-31,-21,-11,0
11496,-13,3,17,16,8,-1,-6,-2,10,18,...,70,67,73,70,66,57,52,44,35,0
11498,-30,-28,-23,-15,-5,8,7,-7,-21,-35,...,-9,2,23,34,36,24,6,-11,-31,0
11499,-92,-58,-27,3,23,37,40,49,65,89,...,-384,-363,-318,-269,-227,-199,-175,-151,-122,1

In [32]:
# Verifique a prevalência de cada subconjunto
print(
    "Teste(n = %d): %.3f"
    % (len(df_teste), calcula_prevalencia(df_teste.LABEL_TARGET.values))
)
print(
    "Validação(n = %d): %.3f"
    % (len(df_valid), calcula_prevalencia(df_valid.LABEL_TARGET.values))
)
print(
    "Treino(n = %d): %.3f"
    % (len(df_treino), calcula_prevalencia(df_treino.LABEL_TARGET.values))
)

Teste(n = 1725): 0.198
Validação(n = 1725): 0.187
Treino(n = 8050): 0.203

## Balanceamento de Classe

Vamos aplicar a estratégia de undersampling. Leia o material no Capítulo 8 com a definição dos conceitos.

In [33]:
df_teste.shape

(1725, 179)

In [34]:
df_valid.shape

(1725, 179)

In [35]:
df_treino.shape

(8050, 179)

In [36]:
df_treino.LABEL_TARGET.value_counts()

LABEL_TARGET
0    6414
1    1636
Name: count, dtype: int64

In [37]:
# Cria um índice com True/False
indice = df_treino.LABEL_TARGET == 1

In [38]:
# Define valores positivos e negativos do índice
df_train_pos = df_treino.loc[indice]
df_train_neg = df_treino.loc[~indice]

In [39]:
# Valor mínimo de registros entre classe positiva e negativa
valor_minimo = np.min([len(df_train_pos), len(df_train_neg)])

In [40]:
valor_minimo

1636

In [41]:
# Obtém valores aleatórios para o dataset de treino
df_treino_final = pd.concat([df_train_pos.sample(n = valor_minimo, random_state = 69), 
                             df_train_neg.sample(n = valor_minimo, random_state = 69)], 
                            axis = 0, 
                            ignore_index = True)

In [42]:
# Amostragem aleatória do dataset de treino
df_treino_final = df_treino_final.sample(n = len(df_treino_final), random_state = 69).reset_index(drop = True)

In [43]:
df_treino_final.shape

(3272, 179)

In [44]:
df_treino_final.LABEL_TARGET.value_counts()

LABEL_TARGET
1    1636
0    1636
Name: count, dtype: int64

In [45]:
# Balanceamento do conjunto de dados
print('Balanceamento em Treino(n = %d): %.3f'%(len(df_treino_final), 
                                               calcula_prevalencia(df_treino_final.LABEL_TARGET.values)))

Balanceamento em Treino(n = 3272): 0.500

## Salvando o Resultado do Pré-Processamento

In [46]:
# Salvamos todos os datasets em disco no formato csv
df_treino.to_csv('dados/dados_treino.csv', index = False)
df_treino_final.to_csv('dados/dados_treino_final.csv', index = False)
df_valid.to_csv('dados/dados_valid.csv', index = False)
df_teste.to_csv('dados/dados_teste.csv', index = False)

In [47]:
# Salvamos os nomes dos dados de entrada (colunas preditoras) para facilitar a utilização mais tarde
pickle.dump(colunas_entrada, open('dados/colunas_entrada.sav', 'wb'))

# Continuaremos o Projeto no Próximo Capítulo!

In [48]:
%reload_ext watermark
%watermark -a "Data Science Academy"

Author: Data Science Academy

In [49]:
#%watermark -v -m

In [50]:
#%watermark --iversions

# Fim